################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.idea
*.userprefs
bin
obj

**launchSettings.json
**xlsx
ExcelToSQLScripts.Console/output
